# Logs
logs
*.log
.history
# Dependency directories
node_modules/

# Built files
dist/
build/

# Environment variables
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db
