.dashboardPage {
    background-color: #f8f8fc;
    min-height: 100vh;
}

.dashboardPage__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}
.dashboardPage__content__header {
   position: fixed;
    top: 0;
    right: 0;
    width: 82%;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    z-index: 99;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.dashboardPage__content__header i {
    font-size: 25px;
    color: #333;
    cursor: pointer;
}
.dashboardPage__content__header i:hover {
    color: #0248b8;
}
.dashboardPage__content__body {
    width: 81%;
    margin-top: 80px;
    padding-right: 1%;
}

.dashboardPage__content__body__row {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    gap: 20px;
}
.dashboardPage__content__body__row__item {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
}
.dashboardPage__content__body__row__item__title {
    margin-bottom: 20px;
}
.dashboardPage__content__body__row:nth-child(2) .dashboardPage__content__body__row__item:nth-child(1){
    width: 66%;
}
.dashboardPage__content__body__row:nth-child(2) .dashboardPage__content__body__row__item:nth-child(2){
    width: 33%;
}
.dashboardPage__content__body__row__item__value {
    font-size: 30px;
    font-weight: 600;
    color: #0248b8;
    text-align: center;
    margin-bottom: 10px;
}