.searchPage {
  background-color: #f8f8fc;
}
.searchPage__content {
  padding: 20px 10%;
  margin-top: 90px;
}
.searchPage__content__header {
    margin-bottom: 40px;
}
.searchPage__content__title {
    margin-bottom: 20px;
}
/* Responsive */
@media only screen and (max-width: 700px) {
  /* CSS rules for phone screens */
  .searchPage__content {
    padding: 20px 5%;
    margin-top: 120px;
  }
  /* List product responsive */
  .listProduct__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
