.policyPage {
  background-color: #f8f8fc;
}
.policyPage__content {
  padding: 20px 10%;
  min-height: 60vh;
  margin-top: 90px;
  /* background-color: #fff; */
}
.policyPage__content__header {
  margin-bottom: 40px;
}
.policy-content {
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.policy-content h2 {
  margin-bottom: 20px;
}
.policy-content p {
  margin-bottom: 20px;
}
.policy-content span {
  font-weight: 600;
}
/* Responsive */
@media only screen and (max-width: 700px) {
  /* CSS rules for phone screens */
  .policyPage__content {
    margin-top: 120px;
    padding: 20px 5%;
  }
}
